.contenedor-conect{
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    margin-top: 60px;
    width: 85%;
    transition: all .2s;
}
.contenedor-conect .conect{
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.contenedor-conect .button{
    margin: 10px 0;
}
.contenedor-conect .button button{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px 20px;
    border-radius: 12px;
    outline: none;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 500;
    color: rgb(52, 101, 117);
    background-color: #fff;
}
.contenedor-conect .button button svg{
    margin-right: 10px;
    fill: #F1C40F;
    width: 20px;
    height: 20px;
}
.contenedor-conect .button button:hover{
    background-color: #fff;
    border: 1px solid rgb(52, 101, 117);
    transition: .2s;
}
.modalConect{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.modalConect form{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.modalConect form .v_fisica{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}
.modalConect form .v_fisica .v_fisica_1{
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
}
.modalConect form .v_fisica .v_fisica_1 label{
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F9F9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px #F1C40F;
  margin: 5px auto;
}
.modalConect form .v_fisica .v_fisica_1 label:hover{
  transform: translateY(-5px);
  transition: .3s ease;
}
.modalConect form .v_fisica .v_fisica_1 label svg{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.modalConect form .v_fisica .v_fisica_1 input{
  border-radius: 10px;
  background-color: #F8F9F9;
  padding: 5px;
  display: none;
}


.modalConect form .v_fisica .v_fisica_2{
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
}
.modalConect form .v_fisica .v_fisica_2 label{
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F9F9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px rgb(52, 101, 117);
  margin: 5px auto;
}
.modalConect form .v_fisica .v_fisica_2 label:hover{
  transform: translateY(-5px);
  transition: .3s ease;
}
.modalConect form .v_fisica .v_fisica_2 label svg{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.modalConect form .v_fisica .v_fisica_2 input{
  border-radius: 10px;
  background-color: #F8F9F9;
  padding: 5px;
  display: none;
}
.modalConect form .v_fisica .v_fisica_1 .img_v_fisica_1{
  display: flex;
  width: 120px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  justify-content: center;
  margin-top: 10px;
  background-color: transparent;
}
.modalConect form .v_fisica .v_fisica_1 .img_v_fisica_1 img{
  width: 150px;
  max-height: 150px;
  background-color: transparent;
  border-radius: 10px;
  object-fit: contain;
}
.modalConect form .v_fisica .v_fisica_2 .img_v_fisica_2{
  display: flex;
  width: 150px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  justify-content: center;
  margin-top: 10px;
  background-color: transparent;
}
.modalConect form .v_fisica .v_fisica_2 .img_v_fisica_2 img{
  width: 150px;
  max-height: 150px;
  border-radius: 10px;
  object-fit: contain;
  background-color: transparent;
}
.modalConect form .submit{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.modalConect form .submit input{
  padding: 10px 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(52, 101, 117);
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
}
.modalConect form .submit input:hover{
  background-color: rgb(52, 101, 117);
  color: #F8F9F9;
  transition: .3s;
}

.contenedor-conect .modalConect .data{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.contenedor-conect .modalConect .data .conectate{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
    padding: 10px 0;
}
.contenedor-conect .modalConect .data .conectate h5{
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(52, 101, 117);
    font-size: 16px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}
.contenedor-conect .modalConect .data .conectate .content{
    display: flex;
    width: 100%;
}
.contenedor-conect .modalConect .data .conectate .left{
    width: 50%;
}
.contenedor-conect .modalConect .data .conectate .right{
    width: 50%;
}
.contenedor-conect .modalConect .data .conectate .estado{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .conectate .estado label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #F1C40F;
    padding-left: 5px;
}
.contenedor-conect .modalConect .data .conectate .estado select{
    outline: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
}
.contenedor-conect .modalConect .data .conectate .velocidad{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .conectate .velocidad label{
    margin-bottom: 5px;
    color: #F1C40F;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}
.contenedor-conect .modalConect .data .conectate .velocidad input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}

.contenedor-conect .modalConect .data .conectate .c-pe{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .conectate .c-pe label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #F1C40F;
    padding-left: 5px;
}
.contenedor-conect .modalConect .data .conectate .c-pe input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}
.contenedor-conect .modalConect .data .conectate .c-ps{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .conectate .c-ps label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    color: #F1C40F;
}
.contenedor-conect .modalConect .data .conectate .c-ps input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}



.contenedor-conect .modalConect .data .itelkom{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
    padding: 10px 0;
}
.contenedor-conect .modalConect .data .itelkom h5{
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: #F1C40F;
    font-size: 16px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}
.contenedor-conect .modalConect .data .itelkom .content{
    display: flex;
    width: 100%;
}
.contenedor-conect .modalConect .data .itelkom .left{
    width: 50%;
}
.contenedor-conect .modalConect .data .itelkom .right{
    width: 50%;
}
.contenedor-conect .modalConect .data .itelkom .estado{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .itelkom .estado label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(52, 101, 117);
    padding-left: 5px;
}
.contenedor-conect .modalConect .data .itelkom .estado select{
    outline: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
}

.contenedor-conect .modalConect .data .itelkom .velocidad{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .itelkom .velocidad label{
    margin-bottom: 5px;
    color: rgb(52, 101, 117);
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}
.contenedor-conect .modalConect .data .itelkom .velocidad input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}

.contenedor-conect .modalConect .data .itelkom .i-pe{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .itelkom .i-pe label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(52, 101, 117);
    padding-left: 5px;
}
.contenedor-conect .modalConect .data .itelkom .i-pe input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}
.contenedor-conect .modalConect .data .itelkom .i-ps{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .data .itelkom .i-ps label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    color: rgb(52, 101, 117);
}
.contenedor-conect .modalConect .data .itelkom .i-ps input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}


.alert-success, .alert-success-aprob{
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 300px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.alert-success.show, .alert-success-aprob.show {
  opacity: 1;
  transform: translateY(0);
}
.alert-success h5, .alert-success-aprob h5{
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 2em 0.1cqb;
  background-color: rgb(37, 236, 169);
}
.alert-success h5 svg, .alert-success-aprob h5 svg{
  margin-left: 10px;
  width: 30px;
  height: 30px;
  fill: rgba(0, 0, 0, 0.9);
}
.contenedor-conect .charts{
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  justify-content: space-evenly;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.contenedor-conect .charts .chart1{
  display: flex;
  width: 40%;
  height: 80%;
  margin: auto 0;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.contenedor-conect .charts .chart1 .chart{
  width: 80%;
}
.contenedor-conect .charts .chart2{
  display: flex;
  width: 40%;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.contenedor-conect .charts .chart2 .chart{
  width: 100%;
  border-radius: 10px;
}
.contenedor-conect .table{
  width: 100%;
  margin: 10px auto;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  
}
.contenedor-conect .table table{
  width: 95%;
  height: 100%;
}
.contenedor-conect .table table th{
  padding: 0;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  background-color: rgb(52, 101, 117);
  color: #F8F9F9;
  font-weight: 500;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.contenedor-conect .pagination{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.contenedor-conect .table table td{
  text-align: center; 
  height: 60px;
  width: 60px;
  padding: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.contenedor-conect .table table img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}
.contenedor-conect .modalConect .alertas-workspace{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.contenedor-conect .modalConect .alertas-workspace .alertas{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
    padding: 10px 0;
}
.contenedor-conect .modalConect .alertas-workspace .alertas h5{
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(52, 101, 117);
    font-size: 16px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}
.contenedor-conect .modalConect .alertas-workspace .alertas .content{
    display: flex;
    width: 100%;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .left{
    width: 30%;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .right{
    width: 70%;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .graves{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-flow: column;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .graves label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #F1C40F;
    padding-left: 5px;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .graves input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .medias{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .medias label{
    margin-bottom: 5px;
    color: #F1C40F;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .medias input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}

.contenedor-conect .modalConect .alertas-workspace .alertas .menores{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .menores label{
    margin-bottom: 5px;
    color: #F1C40F;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .menores input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}

.contenedor-conect .modalConect .alertas-workspace .alertas .obs-g{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-g label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #F1C40F;
    padding-left: 5px;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-g input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-med{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-med label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    color: #F1C40F;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-med input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-men{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-men label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    color: #F1C40F;
}
.contenedor-conect .modalConect .alertas-workspace .alertas .obs-men input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: transparent;
}

.contenedor-conect .modalConect .alertas-workspace .workspace{
    display: flex;
    flex-flow: column;
    width: 45%;
    padding: 10px 0;
}
.contenedor-conect .modalConect .alertas-workspace .workspace h5{
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: #F1C40F;
    font-size: 16px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.contenedor-conect .modalConect .alertas-workspace .workspace .workspace-div{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.contenedor-conect .modalConect .alertas-workspace .workspace .temp-div{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 0;
}
.contenedor-conect .modalConect .alertas-workspace .workspace .temp-div label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(52, 101, 117);
}
.contenedor-conect .modalConect .alertas-workspace .workspace .workspace-div label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    color: rgb(52, 101, 117);
}
.contenedor-conect .modalConect .alertas-workspace .workspace .temp-div input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: transparent;
}
.contenedor-conect .modalConect .alertas-workspace .workspace .workspace-div textarea{
    outline: none;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    min-width: 50%;
    max-width: 80%;
    background-color: transparent;
}














.contenedor-conect .modalConect .alertas-workspace .workspace input{
    width: 20%;
    text-align: center;
}


@media (max-width: 1080px) {
  .contenedor-conect .pagination{
    display: block;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
  .contenedor-conect .pagination p{
    font-size: 5px;
  }
  .modalConect{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin:0;
  }
  .modalConect form{
    padding: 5px 10px;
    width: 100%;
    display: flex;
    flex-flow: column;
    border: none;
  }
  
  .modalConect form .v_fisica{
    flex-flow: column;  
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .modalConect form .v_fisica .v_fisica_1{
    width: 100%;
  }
  .modalConect form .v_fisica .v_fisica_1 label{
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .modalConect form .v_fisica .v_fisica_2{
    width: 100%;
    margin-top: 10px;
  }
  .modalConect form .v_fisica .v_fisica_2 label{
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .modalConect form .submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .modalConect form .submit input{
    padding: 10px 50px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(52, 101, 117);
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
  }

  .contenedor-conect .charts{
    display: flex;
    flex-flow: column;
    justify-content: initial;
    align-items: initial;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .contenedor-conect .charts .chart1{
    display: block;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .contenedor-conect .charts .chart2{
    display: block;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .contenedor-conect .charts .chart1 .chart{
    width: 100%;
    height: 100%;
  }  
  .contenedor-conect .charts .chart2 .chart{
    width: 100%;
    border: none;
  }


  .contenedor-conect .modalConect .data{
    flex-flow: column;
    }
    .contenedor-conect .modalConect .data .conectate{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .contenedor-conect .modalConect .data .itelkom{
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .contenedor-conect .modalConect .alertas-workspace .alertas{
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .contenedor-conect .modalConect .alertas-workspace .alertas .left{
        width: 40%;
        margin: 0 auto;
    }
    .contenedor-conect .modalConect .alertas-workspace .alertas .right{
        width: 55%;
    }

    .contenedor-conect .modalConect .alertas-workspace .workspace{
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .contenedor-conect .modalConect .alertas-workspace .workspace h5{
        padding: 10px 0;
        width: 50%;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .contenedor-conect .modalConect .alertas-workspace .workspace input{
        text-align: center;
        width: 20%;
    }
}

.aprobar{
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  fill: rgb(228, 115, 80);
}

.aprobar:hover{
  transform: translateY(-5px);
  transition: .2s;
}


.aprobado{
  width: 40px;
  height: 40px;
  object-fit: cover;
  fill: rgb(90, 241, 141);
  transition: .2s;
}